* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
  padding: 0;
  transition: all .1s ease-in;
  outline: none;
 }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.clear-fix:after, 
.clear-fix:before{
  clear: both;
  content: '';
  display: block;
}

a {
  text-decoration: none;
}